
<html>
<header>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</header>
<body>
    <h1>index page</h1>
    <p id="test2">test promise</p>
    <form action="/result" method="GET">
        <input type="text" placeholder="movie name" name="search">
        <input type="submit">
    </form>
    <button id="data">go to data</button>
    <button id="add">add data</button>
    <button id="test">add total</button>
    <button id="text">promise</button>
    
    <script src="data.js" type="text/javascript"></script>
</body>
</html>